:root{
    --neutral-white: "#FFFFFF";
    --neutral-black: "#000000";

    --primary-color-1: "#FFCE29";
    --primary-color-2: "#FDA4AD";

    -secundary-color-1: "#9C34C2";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: "Poppins", serif;
    width: 100%;
    height: 100dvh;
}